[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
prometheus-client = "*"
ticktick-py = "*"
requests-oauthlib = "*"

[dev-packages]
mypy = "*"
black = "==21.9b0"

[requires]
python_version = "3.9"
